*{
    div{
         border: 0.2px solid red;
    }
}
.main{
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.main1{
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
        margin-right: 100px;
}
.top{
    flex: 1;
    display: flex;
}
.topleft{
    flex: 1;
}
.topright{
    flex: 1;
}
.middle{
    flex: 2;
    display: flex;
    flex-direction: column;
}
.t1{
    flex: 1;
    font-size: 30px;
}
.t2{
    flex: 1;
    display:flex ;
}
.tt1{
    flex: 1;
}
.tt2{
    flex: 1;
}
.tt3{
    flex: 1;
}
.tt4{
    flex: 1;
}

.bottom{
    flex: 4;
    display: flex;
    flex-direction: column;
}    
.b1{
    flex: 1;
    display: flex;
} 
.bb1{
    flex: 1;
    margin: 5px;
    
}
.bb2{
    flex: 3;
    display: flex;
    flex-direction: column;
    font-size: 10px;
} 
.a1{
    flex: 1;
    font-size: 20px;
}  
.a2{
    flex: 1;
}
.a3{
    flex: 1;
}
.a4{
    flex: 1;
    font-size: 15px;
}
.bb3{
    flex: 1;
}
.b2{
    flex: 1;
    display: flex;
}
.bbb1{
    flex: 1;
}
.bbb2{
    flex: 3;
    display: flex;
    flex-direction: column;
    font-size: 10px;
}
.c1{
    flex: 1;
    font-size: 20px;
}
.c2{
    flex: 1;

}
.c3{
    flex: 1;
}
.c4{
    flex: 1;
    font-size: 15px;
}
.bbb3{
    flex: 1;
}
.b3{
    flex: 1;
    display: flex;
}
.bbbb1{
    flex: 1;
}
.bbbb2{
    flex: 3;
    display: flex;
    flex-direction: column;
    font-size: 10px;

}
.d1{
    flex: 1;
    font-size: 20px;
}
.d2{
    flex: 1;
}
.d3{
    flex: 1;
}
.d4{
    flex: 1;
    font-size: 15px;
}
.bbbb3{
    flex: 1;
    display: flex;
    align-items: last baseline;
    justify-content: end;
    gap: 10px;
}
.but1{
    height: 20px;
    width: 45px;
}
.but2{
    height: 20px;
    width: 45px;
}
.rajesh{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}
.meerap{
    height: 100%;
    width: 100%;
}
.tanvi{
    height: 100%;
    width: 100%;
    
}
