*{
    div{
         border: 2px solid red;
    }
}
.main{
    max-width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
}
.top{
    flex: 1;
}
.middle{
    flex: 2;
    display: flex;
    flex-direction: column;
}
.t1{
    flex: 1;
}
.t2{
    flex: 1;
}
.bottom{
    flex: 4;
    display: flex;
    flex-direction: column;
}    
.b1{
    flex: 1;
}    
.b2{
    flex: 1;
}
.b3{
    flex: 1;
}