*{
    div{
        border: 0.2px solid black;  
        font-family: sans-serif;
    }
}
.main{
    max-width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    background-color:whitesmoke;

}
.top{
    flex: 1;
    display: flex;
    flex-direction: column;
    border: none;
    margin-left: 100px;
    margin-right: 100px;
}
.t1{
    flex: 1;
    font-size: 30px;
    padding-top: 40PX;
    padding-left: 10px;

}
.t2{
    flex: 1;
    display:flex ;
    flex-direction: row;
}
.tt1{
    flex: 4;
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
}
.butt1{
    height: 30px;
    width: 50px;
    outline: none;
    border: none;
    border-radius: 5px;
}
.butt2{
    height: 30px;
    width: 90px;
    outline: none;
    border: none;
}
.butt3{
    height: 30px;
    width: 110px;
    outline: none;
    border: none;
}
.butt4{
    height: 30px;
    width: 100px;
    outline: none;
    border: none;
    border-radius: 5px;
}
.butt1:hover{
    box-shadow:50px;
    background-color: red;
}
.butt2:hover{
    box-shadow:50px;
    background-color: red;
}
.butt3:hover{
    box-shadow:50px;
    background-color: red;
}
.butt4:hover{
    box-shadow:50px;
    background-color: red;
}
.bottom{
    flex: 3;
    display: flex;
    flex-direction: column;
     padding: 10px;
    gap: 20px;
    margin-left: 100px;
    margin-right: 100px;
}    
.b1{
    flex: 1;
    display: flex;
    border: none;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
} 
.b1:hover{
    box-shadow:50px;
    transition: 0.5s ease;
    transform: scale(1.01);
    box-shadow: black;
    box-shadow: 2px 2px  rgb(40, 38, 38);

}
.bb1{
    flex: 1;
    border: none;
    align-items: center;
    justify-content: center;
    display: flex;
    
}
.bb2{
    flex: 7;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    text-align: left;
    
} 
.a1{
    flex: 1;
    font-size: 20px;
}  
.a2{
    flex: 1;
}
.a3{
    flex: 1;
}
.a4{
    flex: 1;
    font-size: 15px;
    color: blue;
}
.bb3{
    flex: 1;
    display: flex;
    align-items: top;
    justify-content: end;
    padding-right: 20px;
    padding-top: 10px;
    
}
.b2{
    flex: 1;
    display: flex;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
}
.b2:hover{
    box-shadow:50px;
    transition: 0.5s ease;
    transform: scale(1.01);
    box-shadow: black;
    box-shadow: 2px 2px rgb(40, 38, 38);
}
.bbb1{
    flex: 1;
    border: none;
    align-items: center;
    justify-content: center;
    display: flex;
}
.bbb2{
    flex: 7;
    display: flex;
    flex-direction: column;
    font-size: 10px;
}
.c1{
    flex: 1;
    font-size: 20px;
}
.c2{
    flex: 1;

}
.c3{
    flex: 1;
}
.c4{
    flex: 1;
    font-size: 15px;
    color: blue;
}
.bbb3{
    flex: 1;
    display: flex;
    align-items:top;
    justify-content: end;
    padding-right: 20px;
    padding-top: 10px;
    
}
.b3{
    flex: 1;
    display: flex;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
}
.b3:hover{
    box-shadow:50px;
    transition: 0.5s ease;
    transform: scale(1.01);
    box-shadow: rgb(190, 186, 186);
    box-shadow:2px 2px  rgb(40, 38, 38);
}
.bbbb1{
    flex: 1;
    border: none;
    align-items: center;
    justify-content: center;
    display: flex;
}
.bbbb2{
    flex: 7;
    display: flex;
    flex-direction: column;
    font-size: 10px;

}
.d1{
    flex: 1;
    font-size: 20px;
}
.d2{
    flex: 1;
}
.d3{
    flex: 1;
}
.d4{
    flex: 1;
    font-size: 15px;
    color: rgb(7, 71, 173);
}
.bbbb3{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: end;
    padding-right: 20px;
    padding-top: 10px;
    
}
.button1{
    width: 100px; 
    height: 20px;
    background-color: rgba(248, 213, 14, 0.505);
}
.button2{
    height: 20px;
    width: 101px;
    background-color: cornflowerblue;
}
.darshh{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items:center;
}
.darshh1{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.button3{
    height: 20px;
    width: 70px;
    background-color: black;
    color: white;

}
.button4{
    height: 20px;
    width: 100px;
}
.button5{
    height: 20px;
    background-color: mediumaquamarine;
    color: green;
}
.rajesh{
    height: 60%;
    width: 70%;
    border-radius: 10px;
}
.meerap{
    height: 65%;
    width: 70%;
    border-radius: 10px;
}
.tanvi
{
    height: 65%;
    width: 75%;
    border-radius: 10px;
}