*{
    div{
        border: 0.2px solid black; 
        font-family: sans-serif;
    }
}
.main{
    max-width: 100%;
    height:90vh;
    display: flex;
    flex-direction: column;
}
.main1{
    max-width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    margin-right: 150px;
    background-color: rgb(172, 172, 172);

}
.top{
    flex: 1;
    display: flex;
    flex-direction: column;
    border: none;
}
.t1{
    flex: 1;
    font-size: 30px;
    padding-top: 30PX;

}
.t2{
    flex: 1;
    display:flex ;
    flex-direction: row;
}
.tt1{
    flex: 4;
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    border: none;

}
.butt1{
    height: 20px;
    width: 50px;
}
.butt2{
    height: 20px;
    width: 90px;
}
.butt3{
    height: 20px;
    width: 110px;
}
.butt4{
    height: 20px;
    width: 100px;
}

.tt2{
    flex: 1;
    display: flex;
    gap: 20px;
}
.bottom{
    flex: 3;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    
}    
.b1{
    flex: 1;
    display: flex;
    border: none;
    cursor: pointer;
    
} 
.bb1{
    flex: 1;
    border: none;
    
}
.bb2{
    flex: 7;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    text-align: left;
} 
.a1{
    flex: 1;
    font-size: 20px;
}  
.a2{
    flex: 1;
}
.a3{
    flex: 1;
}
.a4{
    flex: 1;
    font-size: 15px;
    color: blue;
}
.bb3{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
    
}
.b2{
    flex: 1;
    display: flex;
    cursor: pointer;
}
.bbb1{
    flex: 1;
    border: none;
}
.bbb2{
    flex: 7;
    display: flex;
    flex-direction: column;
    font-size: 10px;
}
.c1{
    flex: 1;
    font-size: 20px;
}
.c2{
    flex: 1;

}
.c3{
    flex: 1;
}
.c4{
    flex: 1;
    font-size: 15px;
    color: blue;
}
.bbb3{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
    
}
.b3{
    flex: 1;
    display: flex;
    cursor: pointer;
}
.bbbb1{
    flex: 1;
    border: none;
}
.bbbb2{
    flex: 7;
    display: flex;
    flex-direction: column;
    font-size: 10px;

}
.d1{
    flex: 1;
    font-size: 20px;
}
.d2{
    flex: 1;
}
.d3{
    flex: 1;
}
.d4{
    flex: 1;
    font-size: 15px;
    color: rgb(7, 71, 173);
}
.bbbb3{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    
}
.button1{
    width: 100px; 
    height: 20px;
    background-color: rgba(248, 213, 14, 0.505);
}
.button2{
    height: 20px;
    width: 101px;
    background-color: cornflowerblue;
}
.darshh{
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
}
.darshh1{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px;
}
.button3{
    height: 20px;
    width: 70px;
    background-color: black;
    color: white;

}
.button4{
    height: 20px;
    width: 100px;
}
.button5{
    height: 20px;
    background-color: mediumaquamarine;
    color: green;
}
.rajesh{
    height: 60%;
    width: 70%;
    border-radius: 10px;
}
.meerap{
    height: 65%;
    width: 70%;
    border-radius: 10px;
}
.tanvi{
    height: 65%;
    width: 75%;
    border-radius: 10px;
    
}
